$white: #fff;
$light-white: #eee;
$link-color: rgb(164, 164, 164);
$button-hover-color: grey;
$black: #000000;
 $menu-text-color: white;
$menu-bgc-color: black;
$grey: rgb(155, 142, 142);
$footer-color: rgb(44, 42, 42);
$btn-color: rgb(49, 46, 46);